/*Include padding and border in the element's total width and height:*/
 *{
    box-sizing: border-box;
} 
body {
    /* background-color: black; */
    width: 100%;
    background-image: url(../images/redcarpet0.jpg);
    /* background-repeat: repeat; */
    background-size: cover;
    /* padding-bottom: 37%; */
}

 h1 {
  font-size: 50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  border: 20px dotted;
  border-color: gold;
  width: 40%;
  margin: auto; /*Center the div block*/
  margin-top: 30px;
  margin-top: 20px;
  text-align: center; /*center text in border*/
}
h2{
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  border-color: gold;
  width: 45%;
}
.gameBox{
  margin-top: 10%;
  margin-left: 40%;
  
}
#startButton{
  font-size: 20px;
  width: 25%;
  color: green;
}

#word-blanks{
  color: black;
  font-size: 50px;
}
